.prg-opniao {
  color: var(--azul);
  font-size: 24px;
  font-weight: bold;
}

.txt-critica {
  border-radius: 10px;
  width: 80%;
  height: 244px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.barra-titulo {
  width: 68%;
  height: 46px;
  margin: 15px 5px 0 0;
  overflow: hidden;

  border: 2px solid var(--azul);
  border-radius: 10px;
}

.topo {
  display: flex;
}

.option-livro {
  position: absolute;
  color: white;
}

.tipo-critica {
  width: 20%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--azul);
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.area-adicao-critica {
  width: 90%;
  padding: 1px 0 20px 15%;
  border-radius: 10px;
  background-color: var(--azul-claro);
}

.adicionar-critica {
  margin-left: 5%;
}

.livro-atual {
  background-color: transparent;
  border: none;
  color: var(--azul);
  font-weight: bold;

  width: 75%;
}

.livro-atual:focus {
  border: none;
  outline: none;
}

.titulo-livro::placeholder {
  color: var(--azul);
}

.form-critica{
  border: none;
  border-radius: 10px;

  margin: 5px;
  width: 80%;
}