<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Crítica</title>
    <link rel="stylesheet" href="../src/css/base.css" />
    <link rel="stylesheet" href="../src/css/adicionarCritica.css">
  </head>
  <body>
  <script type="module" src="../src/js/adicionarCritica.js" defer></script>

  <header class="cabecalho">
    <nav class="nav-bar">
      <a class="nav-titulo nav-link" href="listagemLivro.html"> Minha Critica </a>
      <ul class="nav-lista">
        <li class="nav-item"> <a href="listagemLivro.html" class="nav-link"> LIVROS </a> </li>
      </ul>
    </nav>
  </header>
    <section class="adicionar-critica">
        <div>
            <h2 class="titulo titulo-vermelho">ADICIONAR CRITICA</h2>
          </div>
          <div class="area-adicao-critica">
            <div class="topo"">
              <div class="barra-titulo">             
                
                <p id="livro-atual" class="livro-atual">
                  Titulo livro
                </p>
                
              </div>
              <button id="btn-cadastro-livro" class="btn-outline-vermelho btn-adicionar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                  />
                </svg>
                ADICIONAR
              </button>
            </div>
              <form>
                <p class="prg-opniao">UserName:</p>
                
                <input id="userName" class="form-critica" type="text" placeholder="*Qual seu nome?">

                <p class="prg-opniao">Escreva sua opinião:</p>
                
                <textarea id="critica" name="opniao" class="txt-critica" placeholder="*Descreva sua opinião aqui..." style="resize: none"></textarea>
                
                <input class="btn-enviar" id="enviar" type="button" value="Enviar">
              </form>
          </div>
    </section>

</body>
</html>