<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Crítica</title>
    <link rel="stylesheet" href="../src/css/base.css" />
    <link rel="stylesheet" href="../src/css/botao.css" />
    <link rel="stylesheet" href="../src/css/detalhesLivro.css" />
    <link rel="stylesheet" href="../src/css/detalesAdicionarCritica.css">
</head>
<body>
    <section>
        <div>
            <h2 class="criticas-cabecalho-titulo">ADICIONAR CRITICA</h2>
          </div>
          <div id="area-adicao-critica">
            <button class="btn-outline-vermelho">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                  />
                </svg>
                ADICIONAR CRITICA
              </button>

              <h3 class="prg-opniao">Escrava sua opnião:</h3>

              <textarea name="opniao" class="txt-critica" placeholder="Descreva sua opnião aqui..." style="resize: none"></textarea>
              <!-- <input class="txt-critica" type="text" placeholder="Descreva sua opnião aqui..." wrap="hard"> -->

              <button class="btn-enviar">Enviar</button>
          </div>
    </section>
</body>
</html>