<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Critica</title>
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/base.css" />
    <link rel="stylesheet" href="../src/css/titulo.css" />
    <link rel="stylesheet" href="../src/css/botao.css" />
    <link rel="stylesheet" href="../src/css/critica.css" />
    <link rel="stylesheet" href="../src/css/adicionarLivro.css" />
</head>

<body>
    <!-- include cabecalho -->
    <main>
        <!-- template -->

        <section class="teste">
            <div>
                <section class="criticas">
                    <div class="criticas-cabecalho">
                        <h2 class="criticas-cabecalho-titulo">ADICIONAR LIVRO</h2>
                </section>
                <div class="alignInput">
                    <p>Nome</p>
                    <input type="text" class="tamInput">
                    <p>Genero</p>
                    <input type="text" class="tamInput">
                    <p>Quantidade de Páginas</p>
                    <input type="text" class="tamInput">
                    <p>Autor</p>
                    <input type="text" class="tamInput">
                    <p>Sinopse</p>
                    <input type="text" class="sinopseInput">
                    <p>Banner</p>
                    <input type="text" class="tamInput">
                    <div class="alignButtonCustom">
                        <button class="buttonCustom">ENVIAR</button>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>

</html>