<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Crítica</title>
    <link rel="stylesheet" href="../src/css/base.css" />
    <link rel="stylesheet" href="../src/css/botao.css" />
    <link rel="stylesheet" href="../src/css/detalhesLivro.css" />
    <link rel="stylesheet" href="../src/css/detalesAdicionarCritica.css">
</head>
<body>
    <section id="adicionar-critica">
        <div>
            <h2 class="criticas-cabecalho-titulo">ADICIONAR CRITICA</h2>
          </div>
          <div id="area-adicao-critica">
            <div>
              <div class="barra-titulo">
                <select name="tipo-critica" id="tipo-critica">
                  <option value="Livro" id="option-livro">LIVRO</option>
                </select>
                <input type="text" id="titulo-livro" placeholder="Titulo livro">
                <div id="img-input">
                  <img src="../src/icons/input-AdicionarCritica.svg" alt="input">
                </div>
              </div>
              <button class="btn-outline-vermelho">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                  />
                </svg>
                ADICIONAR CRITICA
              </button>
            </div>
              
              <h3 class="prg-opniao">Escreva sua opnião:</h3>

              <textarea name="opniao" class="txt-critica" placeholder="Descreva sua opnião aqui..." style="resize: none"></textarea>
              <button class="btn-enviar">Enviar</button>
          </div>
    </section>
</body>
</html>