<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Listagem - Minha Crítica</title>
        <link rel="stylesheet" href="../src/css/base.css" />
        <link rel="stylesheet" href="../src/css/listagemLivro.css" />
    </head>
    <body>
        <header class="cabecalho">
            <nav class="nav-bar">
              <a class="nav-titulo nav-link" href="listagemLivro.html"> Minha Critica </a>
              <ul class="nav-lista">
                <li class="nav-item"> <a href="listagemLivro.html" class="nav-link"> LIVROS </a> </li>
              </ul>
            </nav>
          </header>
        <main>
            <section class="header">
                <h1 class="titulo titulo-azul">LIVROS</h1>
                <div class="search-box">
                    <div class="search-box-text">FILME<img src="../src/icons/arrow-down.svg" class="search-box-icon" /></div>
                    <input class="search-box-input" type="text" />
                    <img src="../src/icons/magnifier.svg" class="search-box-icon-right" alt="search">
                </div>
            </section>
            <section class="listagem">
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
                <div class="list-item">
                    <img class="list-item-image" alt="">
                    <label class="list-item-label">Título</label>
                </div>
            </section>
        </main>
    </body>
</html>